*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/
/ss_kit/build/
/ss_kit/build/intermediates/javac/debug/classes/
# Project exclude paths
/ss/build/
/ss/build/intermediates/javac/debug/classes/